<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- Bootstrap and related libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Custom scripts -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    
</head>
<body>

    <header>

        <nav class="navbar navbar-expand navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <span>FlightCast</span>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if not g.user %}
                        <li class="mr-4"><a href="/signup">Sign up</a></li>
                        <li><a href="/login">Log in</a></li>
                    {% else %}
                        <li>
                            <a href="/users/{{ g.user.id }}" class="nav-item user-circle mr-2">
                                {{ g.user.username[0].upper() }}
                            </a>
                        </li>
                        <li><a href="/logout" id="logout-btn">Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    </header>

    <main id="content-container" style="padding-top: 60px;">
        
        <div class="loader" style="display:none">
            <div class="circle">
                <div class="plane-wrapper">
                <i class="fas fa-plane"></i>
                </div>
            </div>
        </div>
          
        <div id="flash-message"></div>

        <div class="server-flash-container">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>

        {% block content %}{% endblock %}

    </main>



    <footer>

        <!-- Your footer content goes here -->

    </footer>

</body>
</html>
