{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2>Edit Your Profile.</h2>
        <form method="POST" id="user_form">
          <div class="form-row">
            {{ form.hidden_tag() }}
            <div class="form-group col-md-8" >
              {{form.username.label}}
              {{form.username(class_="form-control", autocomplete="off", value=g.user.username)}}
            </div>
            <div class="form-group col-md-8">
              {{form.email.label}}
              {{form.email(class_="form-control", autocomplete="off", value=g.user.email)}}
            </div>
            <div class="form-group col-md-8" >
              {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
            </div>
            <div class="edit-btn-area col-md-8">
              <button class="btn btn-success">Edit User</button>
              <a href="/users/{{ g.user.id }}" class="btn btn-outline-secondary ml-3">Cancel</a>
            </div>
          </div>
        </form>
    </div>
  </div>

{% endblock %}